# This file defines who owns which files.
# The owner will be automatically requested for review when these files change.

# Default: The DrumScript admin team owns everything
* @drumscript-admin @victoria-mckinney @bellescoincidences

# Specific owners for repo
/DrumScript/ @drumscript-admin @victoria-mckinney @bellescoincidences

# Specific owners for the core engine
/drumscript/ @drumscript-admin @victoria-mckinney @bellescoincidences